@theme inline {
   --color-*: initial;
   --color-transparent: transparent;
   --color-black: #000;
   --color-white: #fff;
   --color-primary-25: hsl(215 33% 97.5%);
   --color-primary-50: hsl(215 33% 95%);
   --color-primary-75: hsl(215 33% 92.5%);
   --color-primary-100: hsl(215 33% 90%);
   --color-primary-125: hsl(215 33% 87.5%);
   --color-primary-150: hsl(215 33% 85%);
   --color-primary-175: hsl(215 33% 82.5%);
   --color-primary-200: hsl(215 33% 80%);
   --color-primary-225: hsl(215 33% 77.5%);
   --color-primary-250: hsl(215 33% 75%);
   --color-primary-275: hsl(215 33% 72.5%);
   --color-primary-300: hsl(215 33% 70%);
   --color-primary-325: hsl(215 33% 67.5%);
   --color-primary-350: hsl(215 33% 65%);
   --color-primary-375: hsl(215 33% 62.5%);
   --color-primary-400: hsl(215 33% 60%);
   --color-primary-425: hsl(215 33% 57.5%);
   --color-primary-450: hsl(215 33% 55%);
   --color-primary-475: hsl(215 33% 52.5%);
   --color-primary-500: hsl(215 33% 50%);
   --color-primary-525: hsl(215 33% 47.5%);
   --color-primary-550: hsl(215 33% 45%);
   --color-primary-575: hsl(215 33% 42.5%);
   --color-primary-600: hsl(215 33% 40%);
   --color-primary-625: hsl(215 33% 37.5%);
   --color-primary-650: hsl(215 33% 35%);
   --color-primary-675: hsl(215 33% 32.5%);
   --color-primary-700: hsl(215 33% 30%);
   --color-primary-725: hsl(215 33% 27.5%);
   --color-primary-750: hsl(215 33% 25%);
   --color-primary-775: hsl(215 33% 22.5%);
   --color-primary-800: hsl(215 33% 20%);
   --color-primary-825: hsl(215 33% 17.5%);
   --color-primary-850: hsl(215 33% 15%);
   --color-primary-875: hsl(215 33% 12.5%);
   --color-primary-900: hsl(215 33% 10%);
   --color-primary-925: hsl(215 33% 7.5%);
   --color-primary-950: hsl(215 33% 5%);
   --color-primary-975: hsl(215 33% 2.5%);
   --color-gray-25: hsl(215 8% 97.5%);
   --color-gray-50: hsl(215 8% 95%);
   --color-gray-75: hsl(215 8% 92.5%);
   --color-gray-100: hsl(215 8% 90%);
   --color-gray-125: hsl(215 8% 87.5%);
   --color-gray-150: hsl(215 8% 85%);
   --color-gray-175: hsl(215 8% 82.5%);
   --color-gray-200: hsl(215 8% 80%);
   --color-gray-225: hsl(215 8% 77.5%);
   --color-gray-250: hsl(215 8% 75%);
   --color-gray-275: hsl(215 8% 72.5%);
   --color-gray-300: hsl(215 8% 70%);
   --color-gray-325: hsl(215 8% 67.5%);
   --color-gray-350: hsl(215 8% 65%);
   --color-gray-375: hsl(215 8% 62.5%);
   --color-gray-400: hsl(215 8% 60%);
   --color-gray-425: hsl(215 8% 57.5%);
   --color-gray-450: hsl(215 8% 55%);
   --color-gray-475: hsl(215 8% 52.5%);
   --color-gray-500: hsl(215 8% 50%);
   --color-gray-525: hsl(215 8% 47.5%);
   --color-gray-550: hsl(215 8% 45%);
   --color-gray-575: hsl(215 8% 42.5%);
   --color-gray-600: hsl(215 8% 40%);
   --color-gray-625: hsl(215 8% 37.5%);
   --color-gray-650: hsl(215 8% 35%);
   --color-gray-675: hsl(215 8% 32.5%);
   --color-gray-700: hsl(215 8% 30%);
   --color-gray-725: hsl(215 8% 27.5%);
   --color-gray-750: hsl(215 8% 25%);
   --color-gray-775: hsl(215 8% 22.5%);
   --color-gray-800: hsl(215 8% 20%);
   --color-gray-825: hsl(215 8% 17.5%);
   --color-gray-850: hsl(215 8% 15%);
   --color-gray-875: hsl(215 8% 12.5%);
   --color-gray-900: hsl(215 8% 10%);
   --color-gray-925: hsl(215 8% 7.5%);
   --color-gray-950: hsl(215 8% 5%);
   --color-gray-975: hsl(215 8% 2.5%);
   --color-red-50: hsl(0 65% 95%);
   --color-red-100: hsl(0 65% 90%);
   --color-red-150: hsl(0 65% 85%);
   --color-red-200: hsl(0 65% 80%);
   --color-red-250: hsl(0 65% 75%);
   --color-red-300: hsl(0 65% 70%);
   --color-red-350: hsl(0 65% 65%);
   --color-red-400: hsl(0 65% 60%);
   --color-red-450: hsl(0 65% 55%);
   --color-red-500: hsl(0 65% 50%);
   --color-red-550: hsl(0 65% 45%);
   --color-red-600: hsl(0 65% 40%);
   --color-red-650: hsl(0 65% 35%);
   --color-red-700: hsl(0 65% 30%);
   --color-red-750: hsl(0 65% 25%);
   --color-red-800: hsl(0 65% 20%);
   --color-red-850: hsl(0 65% 15%);
   --color-red-900: hsl(0 65% 10%);
   --color-red-950: hsl(0 65% 5%);
   --color-orange-50: hsl(20 65% 95%);
   --color-orange-100: hsl(20 65% 90%);
   --color-orange-150: hsl(20 65% 85%);
   --color-orange-200: hsl(20 65% 80%);
   --color-orange-250: hsl(20 65% 75%);
   --color-orange-300: hsl(20 65% 70%);
   --color-orange-350: hsl(20 65% 65%);
   --color-orange-400: hsl(20 65% 60%);
   --color-orange-450: hsl(20 65% 55%);
   --color-orange-500: hsl(20 65% 50%);
   --color-orange-550: hsl(20 65% 45%);
   --color-orange-600: hsl(20 65% 40%);
   --color-orange-650: hsl(20 65% 35%);
   --color-orange-700: hsl(20 65% 30%);
   --color-orange-750: hsl(20 65% 25%);
   --color-orange-800: hsl(20 65% 20%);
   --color-orange-850: hsl(20 65% 15%);
   --color-orange-900: hsl(20 65% 10%);
   --color-orange-950: hsl(20 65% 5%);
   --color-yellow-50: hsl(60 65% 95%);
   --color-yellow-100: hsl(60 65% 90%);
   --color-yellow-150: hsl(60 65% 85%);
   --color-yellow-200: hsl(60 65% 80%);
   --color-yellow-250: hsl(60 65% 75%);
   --color-yellow-300: hsl(60 65% 70%);
   --color-yellow-350: hsl(60 65% 65%);
   --color-yellow-400: hsl(60 65% 60%);
   --color-yellow-450: hsl(60 65% 55%);
   --color-yellow-500: hsl(60 65% 50%);
   --color-yellow-550: hsl(60 65% 45%);
   --color-yellow-600: hsl(60 65% 40%);
   --color-yellow-650: hsl(60 65% 35%);
   --color-yellow-700: hsl(60 65% 30%);
   --color-yellow-750: hsl(60 65% 25%);
   --color-yellow-800: hsl(60 65% 20%);
   --color-yellow-850: hsl(60 65% 15%);
   --color-yellow-900: hsl(60 65% 10%);
   --color-yellow-950: hsl(60 65% 5%);
   --color-yellowgreen-50: hsl(100 65% 95%);
   --color-yellowgreen-100: hsl(100 65% 90%);
   --color-yellowgreen-150: hsl(100 65% 85%);
   --color-yellowgreen-200: hsl(100 65% 80%);
   --color-yellowgreen-250: hsl(100 65% 75%);
   --color-yellowgreen-300: hsl(100 65% 70%);
   --color-yellowgreen-350: hsl(100 65% 65%);
   --color-yellowgreen-400: hsl(100 65% 60%);
   --color-yellowgreen-450: hsl(100 65% 55%);
   --color-yellowgreen-500: hsl(100 65% 50%);
   --color-yellowgreen-550: hsl(100 65% 45%);
   --color-yellowgreen-600: hsl(100 65% 40%);
   --color-yellowgreen-650: hsl(100 65% 35%);
   --color-yellowgreen-700: hsl(100 65% 30%);
   --color-yellowgreen-750: hsl(100 65% 25%);
   --color-yellowgreen-800: hsl(100 65% 20%);
   --color-yellowgreen-850: hsl(100 65% 15%);
   --color-yellowgreen-900: hsl(100 65% 10%);
   --color-yellowgreen-950: hsl(100 65% 5%);
   --color-green-50: hsl(140 65% 95%);
   --color-green-100: hsl(140 65% 90%);
   --color-green-150: hsl(140 65% 85%);
   --color-green-200: hsl(140 65% 80%);
   --color-green-250: hsl(140 65% 75%);
   --color-green-300: hsl(140 65% 70%);
   --color-green-350: hsl(140 65% 65%);
   --color-green-400: hsl(140 65% 60%);
   --color-green-450: hsl(140 65% 55%);
   --color-green-500: hsl(140 65% 50%);
   --color-green-550: hsl(140 65% 45%);
   --color-green-600: hsl(140 65% 40%);
   --color-green-650: hsl(140 65% 35%);
   --color-green-700: hsl(140 65% 30%);
   --color-green-750: hsl(140 65% 25%);
   --color-green-800: hsl(140 65% 20%);
   --color-green-850: hsl(140 65% 15%);
   --color-green-900: hsl(140 65% 10%);
   --color-green-950: hsl(140 65% 5%);
   --color-teal-50: hsl(180 65% 95%);
   --color-teal-100: hsl(180 65% 90%);
   --color-teal-150: hsl(180 65% 85%);
   --color-teal-200: hsl(180 65% 80%);
   --color-teal-250: hsl(180 65% 75%);
   --color-teal-300: hsl(180 65% 70%);
   --color-teal-350: hsl(180 65% 65%);
   --color-teal-400: hsl(180 65% 60%);
   --color-teal-450: hsl(180 65% 55%);
   --color-teal-500: hsl(180 65% 50%);
   --color-teal-550: hsl(180 65% 45%);
   --color-teal-600: hsl(180 65% 40%);
   --color-teal-650: hsl(180 65% 35%);
   --color-teal-700: hsl(180 65% 30%);
   --color-teal-750: hsl(180 65% 25%);
   --color-teal-800: hsl(180 65% 20%);
   --color-teal-850: hsl(180 65% 15%);
   --color-teal-900: hsl(180 65% 10%);
   --color-teal-950: hsl(180 65% 5%);
   --color-blue-50: hsl(220 65% 95%);
   --color-blue-100: hsl(220 65% 90%);
   --color-blue-150: hsl(220 65% 85%);
   --color-blue-200: hsl(220 65% 80%);
   --color-blue-250: hsl(220 65% 75%);
   --color-blue-300: hsl(220 65% 70%);
   --color-blue-350: hsl(220 65% 65%);
   --color-blue-400: hsl(220 65% 60%);
   --color-blue-450: hsl(220 65% 55%);
   --color-blue-500: hsl(220 65% 50%);
   --color-blue-550: hsl(220 65% 45%);
   --color-blue-600: hsl(220 65% 40%);
   --color-blue-650: hsl(220 65% 35%);
   --color-blue-700: hsl(220 65% 30%);
   --color-blue-750: hsl(220 65% 25%);
   --color-blue-800: hsl(220 65% 20%);
   --color-blue-850: hsl(220 65% 15%);
   --color-blue-900: hsl(220 65% 10%);
   --color-blue-950: hsl(220 65% 5%);
   --color-purple-50: hsl(260 65% 95%);
   --color-purple-100: hsl(260 65% 90%);
   --color-purple-150: hsl(260 65% 85%);
   --color-purple-200: hsl(260 65% 80%);
   --color-purple-250: hsl(260 65% 75%);
   --color-purple-300: hsl(260 65% 70%);
   --color-purple-350: hsl(260 65% 65%);
   --color-purple-400: hsl(260 65% 60%);
   --color-purple-450: hsl(260 65% 55%);
   --color-purple-500: hsl(260 65% 50%);
   --color-purple-550: hsl(260 65% 45%);
   --color-purple-600: hsl(260 65% 40%);
   --color-purple-650: hsl(260 65% 35%);
   --color-purple-700: hsl(260 65% 30%);
   --color-purple-750: hsl(260 65% 25%);
   --color-purple-800: hsl(260 65% 20%);
   --color-purple-850: hsl(260 65% 15%);
   --color-purple-900: hsl(260 65% 10%);
   --color-purple-950: hsl(260 65% 5%);
   --color-magenta-50: hsl(300 65% 95%);
   --color-magenta-100: hsl(300 65% 90%);
   --color-magenta-150: hsl(300 65% 85%);
   --color-magenta-200: hsl(300 65% 80%);
   --color-magenta-250: hsl(300 65% 75%);
   --color-magenta-300: hsl(300 65% 70%);
   --color-magenta-350: hsl(300 65% 65%);
   --color-magenta-400: hsl(300 65% 60%);
   --color-magenta-450: hsl(300 65% 55%);
   --color-magenta-500: hsl(300 65% 50%);
   --color-magenta-550: hsl(300 65% 45%);
   --color-magenta-600: hsl(300 65% 40%);
   --color-magenta-650: hsl(300 65% 35%);
   --color-magenta-700: hsl(300 65% 30%);
   --color-magenta-750: hsl(300 65% 25%);
   --color-magenta-800: hsl(300 65% 20%);
   --color-magenta-850: hsl(300 65% 15%);
   --color-magenta-900: hsl(300 65% 10%);
   --color-magenta-950: hsl(300 65% 5%);


   --breakpoint-*: initial;
   --breakpoint-xs: 400px;
   --breakpoint-sm: 600px;
   --breakpoint-md: 800px;
   --breakpoint-lg: 1000px;
   --breakpoint-xl: 1200px;
   --breakpoint-2xl: 1400px;
   --breakpoint-3xl: 1600px;
   --breakpoint-4xl: 1800px;
   --breakpoint-5xl: 2000px;


   --spacing: 1px;


   --text-*: initial;
   --text-1: 1px;
   --text-1--line-height: 1px;
   --text-2: 2px;
   --text-2--line-height: 2px;
   --text-3: 3px;
   --text-3--line-height: 3px;
   --text-4: 4px;
   --text-4--line-height: 4px;
   --text-5: 5px;
   --text-5--line-height: 5px;
   --text-6: 6px;
   --text-6--line-height: 6px;
   --text-7: 7px;
   --text-7--line-height: 7px;
   --text-8: 8px;
   --text-8--line-height: 8px;
   --text-9: 9px;
   --text-9--line-height: 10px;
   --text-10: 10px;
   --text-10--line-height: 12px;
   --text-11: 11px;
   --text-11--line-height: 14px;
   --text-12: 12px;
   --text-12--line-height: 16px;
   --text-13: 13px;
   --text-13--line-height: 18px;
   --text-14: 14px;
   --text-14--line-height: 20px;
   --text-15: 15px;
   --text-15--line-height: 22px;
   --text-16: 16px;
   --text-16--line-height: 24px;
   --text-17: 17px;
   --text-17--line-height: 25px;
   --text-18: 18px;
   --text-18--line-height: 26px;
   --text-19: 19px;
   --text-19--line-height: 27px;
   --text-20: 20px;
   --text-20--line-height: 28px;
   --text-21: 21px;
   --text-21--line-height: 29px;
   --text-22: 22px;
   --text-22--line-height: 30px;
   --text-23: 23px;
   --text-23--line-height: 31px;
   --text-24: 24px;
   --text-24--line-height: 32px;
   --text-25: 25px;
   --text-25--line-height: 33px;
   --text-26: 26px;
   --text-26--line-height: 34px;
   --text-27: 27px;
   --text-27--line-height: 35px;
   --text-28: 28px;
   --text-28--line-height: 36px;
   --text-29: 29px;
   --text-29--line-height: 37px;
   --text-30: 30px;
   --text-30--line-height: 38px;
   --text-31: 31px;
   --text-31--line-height: 39px;
   --text-32: 32px;
   --text-32--line-height: 40px;
   --text-33: 33px;
   --text-33--line-height: 41px;
   --text-34: 34px;
   --text-34--line-height: 42px;
   --text-35: 35px;
   --text-35--line-height: 43px;
   --text-36: 36px;
   --text-36--line-height: 44px;
   --text-37: 37px;
   --text-37--line-height: 45px;
   --text-38: 38px;
   --text-38--line-height: 46px;
   --text-39: 39px;
   --text-39--line-height: 47px;
   --text-40: 40px;
   --text-40--line-height: 48px;
   --text-41: 41px;
   --text-41--line-height: 49px;
   --text-42: 42px;
   --text-42--line-height: 50px;
   --text-43: 43px;
   --text-43--line-height: 51px;
   --text-44: 44px;
   --text-44--line-height: 52px;
   --text-45: 45px;
   --text-45--line-height: 53px;
   --text-46: 46px;
   --text-46--line-height: 54px;
   --text-47: 47px;
   --text-47--line-height: 55px;
   --text-48: 48px;
   --text-48--line-height: 56px;
   --text-49: 49px;
   --text-49--line-height: 57px;
   --text-50: 50px;
   --text-50--line-height: 58px;
   --text-51: 51px;
   --text-51--line-height: 59px;
   --text-52: 52px;
   --text-52--line-height: 60px;
   --text-53: 53px;
   --text-53--line-height: 61px;
   --text-54: 54px;
   --text-54--line-height: 62px;
   --text-55: 55px;
   --text-55--line-height: 63px;
   --text-56: 56px;
   --text-56--line-height: 64px;
   --text-57: 57px;
   --text-57--line-height: 65px;
   --text-58: 58px;
   --text-58--line-height: 66px;
   --text-59: 59px;
   --text-59--line-height: 67px;
   --text-60: 60px;
   --text-60--line-height: 68px;
   --text-61: 61px;
   --text-61--line-height: 69px;
   --text-62: 62px;
   --text-62--line-height: 70px;
   --text-63: 63px;
   --text-63--line-height: 71px;
   --text-64: 64px;
   --text-64--line-height: 72px;
   --text-65: 65px;
   --text-65--line-height: 73px;
   --text-66: 66px;
   --text-66--line-height: 74px;
   --text-67: 67px;
   --text-67--line-height: 75px;
   --text-68: 68px;
   --text-68--line-height: 76px;
   --text-69: 69px;
   --text-69--line-height: 77px;
   --text-70: 70px;
   --text-70--line-height: 78px;
   --text-71: 71px;
   --text-71--line-height: 79px;
   --text-72: 72px;
   --text-72--line-height: 80px;
   --text-73: 73px;
   --text-73--line-height: 81px;
   --text-74: 74px;
   --text-74--line-height: 82px;
   --text-75: 75px;
   --text-75--line-height: 83px;
   --text-76: 76px;
   --text-76--line-height: 84px;
   --text-77: 77px;
   --text-77--line-height: 85px;
   --text-78: 78px;
   --text-78--line-height: 86px;
   --text-79: 79px;
   --text-79--line-height: 87px;
   --text-80: 80px;
   --text-80--line-height: 88px;
   --text-81: 81px;
   --text-81--line-height: 89px;
   --text-82: 82px;
   --text-82--line-height: 90px;
   --text-83: 83px;
   --text-83--line-height: 91px;
   --text-84: 84px;
   --text-84--line-height: 92px;
   --text-85: 85px;
   --text-85--line-height: 93px;
   --text-86: 86px;
   --text-86--line-height: 94px;
   --text-87: 87px;
   --text-87--line-height: 95px;
   --text-88: 88px;
   --text-88--line-height: 96px;
   --text-89: 89px;
   --text-89--line-height: 97px;
   --text-90: 90px;
   --text-90--line-height: 98px;
   --text-91: 91px;
   --text-91--line-height: 99px;
   --text-92: 92px;
   --text-92--line-height: 100px;
   --text-93: 93px;
   --text-93--line-height: 101px;
   --text-94: 94px;
   --text-94--line-height: 102px;
   --text-95: 95px;
   --text-95--line-height: 103px;
   --text-96: 96px;
   --text-96--line-height: 104px;
   --text-97: 97px;
   --text-97--line-height: 105px;
   --text-98: 98px;
   --text-98--line-height: 106px;
   --text-99: 99px;
   --text-99--line-height: 107px;
   --text-100: 100px;
   --text-100--line-height: 108px;
   --text-101: 101px;
   --text-101--line-height: 109px;
   --text-102: 102px;
   --text-102--line-height: 110px;
   --text-103: 103px;
   --text-103--line-height: 111px;
   --text-104: 104px;
   --text-104--line-height: 112px;
   --text-105: 105px;
   --text-105--line-height: 113px;
   --text-106: 106px;
   --text-106--line-height: 114px;
   --text-107: 107px;
   --text-107--line-height: 115px;
   --text-108: 108px;
   --text-108--line-height: 116px;
   --text-109: 109px;
   --text-109--line-height: 117px;
   --text-110: 110px;
   --text-110--line-height: 118px;
   --text-111: 111px;
   --text-111--line-height: 119px;
   --text-112: 112px;
   --text-112--line-height: 120px;
   --text-113: 113px;
   --text-113--line-height: 121px;
   --text-114: 114px;
   --text-114--line-height: 122px;
   --text-115: 115px;
   --text-115--line-height: 123px;
   --text-116: 116px;
   --text-116--line-height: 124px;
   --text-117: 117px;
   --text-117--line-height: 125px;
   --text-118: 118px;
   --text-118--line-height: 126px;
   --text-119: 119px;
   --text-119--line-height: 127px;
   --text-120: 120px;
   --text-120--line-height: 128px;
   --text-121: 121px;
   --text-121--line-height: 129px;
   --text-122: 122px;
   --text-122--line-height: 130px;
   --text-123: 123px;
   --text-123--line-height: 131px;
   --text-124: 124px;
   --text-124--line-height: 132px;
   --text-125: 125px;
   --text-125--line-height: 133px;
   --text-126: 126px;
   --text-126--line-height: 134px;
   --text-127: 127px;
   --text-127--line-height: 135px;
   --text-128: 128px;
   --text-128--line-height: 136px;
}